<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <privateKey>bcec428d5205abe0f0cc8a734083908d9eb8563e31f943d760786edf42ad67dd</privateKey>
    <routeAddress></routeAddress>
    <setNameList>set1Service,set2Service</setNameList>
    <hotChainName>hotService</hotChainName>
    <routeChainName>routeService</routeChainName>
    <enableTimeTask>1</enableTimeTask> <!--0:不开启 1:开启-->
    <timeTaskIntervalSecond>30</timeTaskIntervalSecond>
</config>
